#page-footer {
  border-top: 1px solid var(--bg-emphasis);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--fg-secondary);
  div {
    // margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    row-gap: 0;
    flex-wrap: wrap;
    .link-button {
      gap: 0.5rem;
    }
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  @media (hover: hover) {
    .link-button:hover p {
      text-decoration: underline;
    }
  }
}
