@use "fonts";
@use "colours";
@use "elements";
@use "page-header";
@use "page-footer";
@use "classes";

.content-width {
  //   width: calc(100% - 2em);
  //   padding-inline: 1rem;
  max-width: 80ch !important;
  //   overflow-x: clip;
  //   margin-inline: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: IBMPlexSans, sans;
  background-color: var(--bg-main);
  color: var(--fg-main);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

aside {
  display: none;
  position: static;
  z-index: 1;
  max-height: none;
  background-color: var(--bg-main);
  #theme-buttons,
  #menu-links {
    display: none;
    i {
      font-size: 1rem;
    }
    .link-button {
      padding: 0.5rem;
      color: var(--fg-secondary);
    }
    @media (hover: hover) {
      .link-button:hover {
        background-color: var(--bg-emphasis);
      }
    }
    .link-button:active {
      background-color: var(--bg-emphasis);
    }
    margin-bottom: 1.5rem;
  }
  h3 {
    margin-left: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  @media (hover: hover) {
    #theme-buttons .link-button:hover,
    #menu-links .link-button:hover {
      background-color: var(--bg-emphasis);
    }
  }
  button {
    background-color: inherit;
    border: none;
    color: var(--fg-main);
  }
  #theme-buttons,
  #menu-links {
    display: block;
    div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
  #page-navigation {
    display: none;
  }
}

article {
  width: 100%;
  overflow-x: clip;
  [id] {
    scroll-margin-top: calc(3.5rem);
  }
}

#pages {
  // margin-top: 2rem;
  display: grid;
  // max-width: 60ch;
  // margin-inline: auto;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.card {
  padding: 1rem;
  border: 1px solid var(--bg-emphasis);
  border-radius: 0.5rem;
  h3 {
    margin-top: 0;
  }
  a {
    line-height: 2rem;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  // @media (hover: hover) {
  //   a:hover {
  //     text-decoration: underline;
  //   }
  // }
}

#license-notice {
  line-height: 1.5rem;
  ul {
    padding-left: 2rem;
  }
}

.centre {
  text-align: center;
  flex-grow: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (hover: hover) {
    .link-button:hover {
      background-color: var(--bg-emphasis);
    }
  }
  .link-button:active {
    background-color: var(--bg-emphasis);
  }
  .link-button {
    padding: 0.5rem;
    color: var(--fg-secondary);
  }
}
