@import "fonts.css";

:root {
  --colour0: #000000; /* darkest */
  --colour1: #1c1b1b;
  --colour2: #656e77;
  --colour3: #d9d9d9;
  --colour4: #f6f6f6;
  --colour5: #ffffff; /* lightest */
  --accent: #015692;
}

:root.dark-theme {
  --bg: #000000;
  --fg: #ffffff;
  --comment: #656e77; /* TODO */
  --accent: #534477;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #000000;
    --fg: #ffffff;
    --comment: #656e77; /* TODO */
    --accent: #534477;
  }
  :root.light-theme {
    --colour0: #000000; /* darkest */
    --colour1: #1c1b1b;
    --colour2: #656e77;
    --colour3: #d9d9d9;
    --colour4: #f6f6f6;
    --colour5: #ffffff; /* lightest */
    --accent: #015692;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: LiberationSans, sans;
  background-color: var(--colour5);
  color: var(--colour0);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  line-height: 1.5em;
}

pre {
  position: relative;
  margin-inline: 0.5em;
  line-height: 1.25em;
}

code {
  font-family: LiberationMono, monospace;
  font-size: 0.9em;
  max-width: 100%;
  overflow-x: scroll;
}

img {
  background-color: white;
  max-width: 100%;
  margin-inline: auto;
}

figure {
  max-width: 80%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

figcaption {
  margin-inline: auto;
  color: var(--colour2);
}

.content-width {
  width: calc(100% - 2em);
  max-width: 105ch;
  padding-inline: 1rem;
  overflow-x: clip;
  margin-inline: auto;
}

#page-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--colour5);
  border-bottom: 1px solid var(--colour3);
}
#page-header button {
  background-color: inherit;
  border: none;
  color: var(--colour0);
}

#page-header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--colour5);
}

#page-header a {
  display: flex;
  align-items: center;
  color: var(--colour0);
  text-decoration: none;
  gap: 0.5rem;
}

#page-header a p {
  color: var(--colour0);
  text-decoration: none;
  margin: 0;
  display: inline;
}

#page-header a:link {
  color: var(--colour0);
  text-decoration: none;
}

#page-header a:visited {
  color: var(--colour0);
  text-decoration: none;
}

#page-header a:focus {
  color: var(--colour0);
  text-decoration: none;
}

#page-header a:hover {
  color: var(--colour2);
  text-decoration: none;
}

#page-header a:hover p {
  color: var(--colour2);
  text-decoration: none;
}

#page-header a:active {
  color: var(--colour0);
  text-decoration: none;
}

#page-header a i {
  font-size: 2rem;
}

#page-header button {
  margin: 0;
  padding: 0;
}

#page-header button i {
  font-size: 2rem;
}

#menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#menu button:hover i {
  color: var(--colour2);
}

#logo {
  display: flex;
  align-items: center;
}

.page-start-button {
  display: none;
}

#theme-switch-button i {
  font-size: 1.5rem !important;
}

.copyButton {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--colour2);
  transition: color 1s;
  border-left: 1px solid var(--colour2);
  border-bottom: 1px solid var(--colour2);
  padding-inline: 0.5rem;
  /* border-bottom-left-radius: 0.5rem; */
  background-color: var(--colour3);
}

.copyButton:hover {
  color: var(--colour0);
}
.copyButton p {
  margin: 0;
  font-family: LiberationSans;
}

#metadata {
  display: flex;
  gap: 0.75rem;
  color: var(--colour2);
}

#metadata p {
  margin: 0;
}

:is(h2, h3, h4, h5, h6) > a,
:is(h2, h3, h4, h5, h6) > a:link,
:is(h2, h3, h4, h5, h6) > a:visited {
  opacity: 0.5;
  color: var(--colour2);
  text-decoration: none;
  font-size: 0.75em;
  transition: opacity 1s;
}

:is(h2, h3, h4, h5, h6):hover > a,
:is(h2, h3, h4, h5, h6):hover > a:link,
:is(h2, h3, h4, h5, h6):hover > a:visited {
  opacity: 1;
}

main {
  display: grid;
  grid-template-areas: "content sidebar";
  grid-template-columns: calc(100% - calc(23ch + 2rem)) 23ch;
  gap: 2rem;
  flex-grow: 1;
  border-left: 1px solid var(--colour3);
  border-right: 1px solid var(--colour3);
}

@media screen and (max-width: 95ch) {
  #TOC {
    display: none;
  }
  main {
    grid-template-areas: "content";
    grid-template-columns: 100%;
    gap: 0;
  }
}

@media screen and (max-width: 125ch) {
  main {
    border-left: none;
    border-right: none;
  }
}

article {
  grid-area: content;
  width: 100%;
  overflow-x: clip;
}

[id] {
  scroll-margin-top: calc(3.5rem);
}

aside {
  grid-area: sidebar;
  overflow-x: clip;
}

#TOC {
  position: sticky;
  top: 3.5rem;
  /* color: var(--colour2); */
  overflow-y: auto;
  max-height: 100vh;
}

#TOC div {
  display: flex;
  gap: 0.5rem;
}

#TOC button {
  border: none;
  background-color: var(--colour5);
  color: var(--colour2);
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

#TOC div button:hover {
  font-weight: bold;
}

#TOC div a:hover {
  font-weight: bold;
}

#TOC ul {
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0;
}

#TOC li {
  padding: 0.5rem 0 0.5rem 0.5rem;
  border-left: 1px solid var(--colour2);
  /* border-right: 1px solid var(--colour3); */
}

#TOC li.active {
  font-weight: bold;
  background-color: var(--colour4);
  border-left-color: var(--accent);
  /* border-right-color: var(--accent); */
}

#TOC li:hover {
  background-color: var(--colour3);
}

#TOC a {
  color: var(--colour2);
  text-decoration: none;
}

#TOC ul a {
  display: block;
  width: 100%;
}

#TOC a:link {
  color: var(--colour2);
  text-decoration: none;
}

#TOC a:visited {
  color: var(--colour2);
  text-decoration: none;
}

#TOC a:focus {
  color: var(--colour2);
  text-decoration: none;
}

#TOC a:hover {
  color: var(--colour2);
  text-decoration: none;
}

#TOC a:active {
  color: var(--colour2);
  text-decoration: none;
}

footer {
  border-top: 1px solid var(--colour3);
}

footer > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer p {
  color: var(--colour2);
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

article > header {
  margin-bottom: 2rem;
}

footer button {
  background-color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  color: var(--colour2);
  font-size: 1rem;
}

footer button:hover {
  font-weight: bold;
}

footer a {
  color: var(--colour2);
  text-decoration: none;
}

footer ul a {
  display: block;
  width: 100%;
}

footer a:link {
  color: var(--colour2);
  text-decoration: none;
}

footer a:visited {
  color: var(--colour2);
  text-decoration: none;
}

footer a:focus {
  color: var(--colour2);
  text-decoration: none;
}

footer a:hover {
  color: var(--colour2);
  text-decoration: underline;
}

footer a:active {
  color: var(--colour2);
  text-decoration: underline;
}

#dropdown-container{
  position: relative;
  float: right;
}

#dropdown-menu {
  position: absolute;
  display: none;
  right: 0;
  background-color: var(--colour5);
  border: 1px solid var(--colour3);
  padding: 0.5rem;
}

#dropdown-menu a i {
  font-size: 1rem;
}

#dropdown-container:hover #dropdown-menu {
  display: block;
}
